// base

$width_app: 1200px;
$bg_color_app: 'grey';
$header_height: 150px;
$main_height: calc(100% - 150px);
$header_color: white;
$width_container: 1000px;
$height_container: 120px;
$width_content: 800px;
$font: 'Sofia Sans Semi Condensed', sans-serif;

//card

$width_card: 220px;
$height_card: 220px;
$width_description: 200px;
$height_description: 120px;
$color: white;

//fonts

$header_font: 'Sofia Sans Semi Condensed', sans-serif;